{% extends "base.html" %}

{% block header %}
<!-- Custom Banner -->
<div class="banner">
    <p style="color:rgb(244, 247, 248); display:inline;font-size: 160%;">This repository is in the early stages of development (Beta Version)</p>
</div>

<!-- Original Header -->
{% include "partials/header.html" %}
{% endblock %}


{% block site_nav %}
  <div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
    <div class="md-sidebar__scrollwrap">
      <div class="md-sidebar__inner">
        {% include "partials/toc.html" %}
      </div>
    </div>
  </div>
{% endblock %}